<div class="text-center">
  <div class="container">
    <img
      src="../../../../assets/images/ivy.png"
      alt="ivysaur"
      width="300"
      height="300"
    />
    <h1 class="jumbotron-heading">Ivysaur Training</h1>
    <p class="lead text-muted">
      Train like Ivysaur and get buff!
    </p>
    <p>
      <button (click)="goToBasicTraining()" class="btn btn-primary">
        Basic Training
      </button>
      <button
        (click)="goToIntermediateTraining()"
        class="btn btn-secondary ml-2"
      >
        Intermediate Training
      </button>
    </p>
  </div>
</div>
